<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign In</title>
        <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        <link rel='stylesheet' href="./css/log-in.css">
        <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" 
            crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" 
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
            crossorigin="anonymous"></script>  
    </head>
    <body id="body">

        <div id="app">
            <h1> Log In </h1>

            <form v-on:submit="submitData">
                <p>Username:</p>
                <input type="text" v-model="user.name" placeholder="Username"/>
                <p>Password:</p>
                <input type="password" v-model="user.password" placeholder="Password"/>
                <button function="submit">Submit</button>

            </form>

        </div>
    <script src="/js/log-in.js"> </script>
    </body>
</html>