<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create A Dev Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
    </head>
    <body>

        <div id="app">
            <h1> Post a Site Listing </h1>

            <form v-on:submit="createSitePost">
                <p>Enter your Name or Business Name</p>
                <input type="text" v-model="sitePost.name" placeholder="Username"/>
                <p>Create a password:</p>
                <input type="password" v-model="sitePost.password" placeholder="Password"/>
                <p>Enter your email:</p>                
                <input type="text" v-model="sitePost.email" placeholder="Your Full Name"/>
                <p>Amount to spend:</p>                
                <input type="text" v-model="sitePost.toSpend" placeholder="Portfolio Site URL">
                <p>Timeline:</p>                
                <input type="date" v-model="sitePost.timeline" placeholder="Describe yourself and your work"/>
                <p>Overall purpose of your website:</p>                
                <input type="text" v-model="sitePost.purpose" placeholder="Portfolio Site URL">
                <p>Desired features for Website (ability for clients to purchase items, contact form, etc.):</p>                
                <input type="text" v-model="sitePost.features" placeholder="Portfolio Site URL">
                <input type="submit" value="Create Profile!"/>
                </div>

            </form>

        </div>
    <script src="/js/siteform.js"> </script>
    </body>
</html>

