<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create A Dev Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <link rel='stylesheet' href="./css/main.css">
    <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" 
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" 
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" 
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
        crossorigin="anonymous"></script>  
    </head>
    <body id="body">
        <div id="app">
            <nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
                    <a class="navbar-brand" href="/">S L I C K</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/site-form">Create a Website Listing</a>
                                    <a class="dropdown-item" href="/create-dev-profile">Create a Web Developer Profile</a>
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/log-in">Log In</a> -->
                                </div>
                            </li>
                        </ul>
                        
                        <button v-if="seeSites" v-on:click="seeSites = !seeSites" class="btn btn-outline-success my-2 my-sm-0" type="button">See Web Developers</button>
                        <button v-if="!seeSites" v-on:click="seeSites = !seeSites" class="btn btn-outline-success my-2 my-sm-0" type="button">See Web Listings</button>                        
                        
                    </form>
                </div>
            </nav>
            <h1> Post a Site Listing </h1>

            <form v-on:submit="createSitePost">
                <p>Enter your Name or Business Name</p>
                <input type="text" v-model="sitePost.name" placeholder="Name or Business Name"/>
                <p>Create a password:</p>
                <input type="password" v-model="sitePost.password" placeholder="Password"/>
                <p>Enter your email:</p>                
                <input type="text" v-model="sitePost.email" placeholder="Email"/>
                <p>Amount to spend:</p>                
                <input type="text" v-model="sitePost.toSpend" placeholder="Amount to Spend">
                <p>Timeline:</p>                
                <input type="date" v-model="sitePost.timeline" placeholder="Describe yourself and your work"/>
                <p>Overall purpose of your website:</p>                
                <input type="text" v-model="sitePost.purpose" placeholder="Website Purpose">
                <p>Desired features for Website (ability for clients to purchase items, contact form, etc.):</p>                
                <input type="text" v-model="sitePost.features" placeholder="Features">
                <input type="submit" value="Create Profile!"/>
                </div>

            </form>

        </div>
    <script src="/js/siteform.js"> </script>
    </body>
</html>

